-
  const baseUrl = 'http://127.0.0.1:5500/dist';
  const siteName = '（專案實作）85℃';

  let path = '';
  let pageTitle = '';
  let infoTitle = '由手中的咖啡、麵包與蛋糕，為您傳遞溫暖、共享人生真味';
  let description = '85℃醇香遠播，不論是全家張羅早餐的母親，以咖啡衝刺一天的業務，靠COFFEE TIME充飽電力的上班族，或是下課後來杯清涼冷飲的學生，共享各式人生滋味，成為您前進人生的動能。';
  let image = 'img/og/og.jpg';